# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/

# Django migrations
*/migrations/*

# Static files
staticfiles/

# Local settings
local_settings.py

# macOS
.DS_Store

# Windows
Thumbs.db

# temporary/non-related files
errand.py

# Github workflow
.github/