{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock %}

{% block body %}
    <h1>Round One</h1>

    <div>
        <p id="description">The description goes here!</p>
        <form action="{% url 'tomb:GameView' %}" method="post" class="mt-4">
            {% csrf_token %}  {# Include CSRF token for security #}
            <input type="text" name="user_guess" class="form-control" placeholder="Enter your guess..." required>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
